<header class="flex">
  <img
    width="75"
    src="https://cyberexperiments.com/images/owl_standalone.png"
  />
  <h1>{{ title }}, a NightOwl site</h1>
</header>

<h2>Compounds</h2>

<main>
  <div>
    <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="&#7172; Search for compound"
    />
  </div>

  <ng-container *ngFor="let c of chemicals; trackBy: trackByFunction">
    <nootz-chemical-view
      [headings]="headings"
      [chemical]="c"
      [hidden]="
        !(
          !searchText ||
          searchText.length == 0 ||
          c[0].toLowerCase().includes(searchText.toLowerCase())
        )
      "
    ></nootz-chemical-view>
  </ng-container>
</main>

<router-outlet></router-outlet>
