:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 800px;
  margin: 50px auto;
}

main > div {
  min-width: 100px;
  max-width: 400px;
  margin: 30px auto;
}

main > div > input {
  text-align: center;
  width: 100%;
}

.form-control {
  font-size: 22px;
  border-radius: 6px;
  outline-width: 0px;
}
