
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//@import '../../../themes/bootstrap4-neon-glow.min.css';
//@import '../../../themes/bootstrap4-bubblegum.min.css';
//@import '../../../themes/bootstrap4-daydream.min.css';
//@import '../../../themes/bootstrap4-charming.min.css';
//@import '../../../themes/bootstrap4-wizardry.min.css';
@import '../../../theme-machine/dist/hello-world/css/bootstrap4-hello-world.min.css';
//@import '../../../themes/bootstrap4-business-tycoon.min.css';
//@import '../../../themes/bootstrap4-vibrant-sea.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.floating-message {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 20px;
}

table {
  width: 100%;
}