
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import '~@fortawesome/fontawesome-free/css/all.min.css';
//@import '~@fortawesome/fontawesome-free/scss/brands';
//@import '~@fortawesome/fontawesome-free/scss/regular';
//@import '~@fortawesome/fontawesome-free/scss/solid';
//@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import '../../../themes/cyborg_b4.css';

//@import '../../../theme-machine/dist/hello-world/css/bootstrap4-hello-world.min.css';
//@import '../../../theme-machine/dist/harbor/css/bootstrap4-harbor.min.css';
//@import '../../../theme-machine/dist/growth/css/bootstrap4-growth.min.css';
//@import '../../../theme-machine/dist/charming/css/bootstrap4-charming.min.css';
//@import '../../../theme-machine/dist/executive-suite/css/bootstrap4-executive-suite.min.css';
//@import '../../../theme-machine/dist/retro/css/bootstrap4-retro.min.css';
//@import '../../../theme-machine/dist/bubblegum/css/bootstrap4-bubblegum.min.css';
//@import '../../../theme-machine/dist/neon-glow/css/bootstrap4-neon-glow.min.css';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.floating-message {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 20px;
}

.flexy-center, .flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.blocky {
  display: block;
}

.flexy {
  justify-content: space-between;
  display: flex;
}

.flexy-around {
  justify-content: space-around;
  display: flex;
}

.flexy-start {
  justify-content: flex-start;
  display: flex;
}

.flexy-down {
  flex-direction: column;
  display: flex;
}

.auto-width {
  width: auto;
}

.auto-margin {
  margin: auto;
}

.click-hover {
  cursor: pointer;
}

table {
  width: 100%;
}

body {
  //background: $body-bg;
  padding-top: 25px;
}

.navbar {
  border: black solid 10px;
}

.sidebar {
  border: black solid 10px;
}

.hiding-text {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-button {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}


.navbar-custom {
  background-color: #404040;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

#navbar-quote {
  max-width: 75%;
}
