
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import '../../../themes/cyborg_b4.css';

//@import '../../../theme-machine/dist/hello-world/css/bootstrap4-hello-world.min.css';
//@import '../../../theme-machine/dist/harbor/css/bootstrap4-harbor.min.css';
//@import '../../../theme-machine/dist/growth/css/bootstrap4-growth.min.css';
//@import '../../../theme-machine/dist/charming/css/bootstrap4-charming.min.css';
//@import '../../../theme-machine/dist/executive-suite/css/bootstrap4-executive-suite.min.css';
//@import '../../../theme-machine/dist/retro/css/bootstrap4-retro.min.css';
//@import '../../../theme-machine/dist/bubblegum/css/bootstrap4-bubblegum.min.css';
//@import '../../../theme-machine/dist/neon-glow/css/bootstrap4-neon-glow.min.css';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.floating-message {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 20px;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.blocky {
  display: block;
}

.flexy {
  justify-content: space-between;
  display: flex;
}

.auto-width {
  width: auto;
}

.auto-margin {
  margin: auto;
}

table {
  width: 100%;
}

body {
  //background: $body-bg;
  padding-top: 25px;
}

.navbar {
  border: black solid 10px;
}
