.low-risk {
  background-color: #82ca9d;
}

.medium-risk {
  background-color: #fff79a;
}

.high-risk {
  background-color: #ffb347;
}

.danger-risk {
  background-color: #f7977a;
}

details > p {
  backdrop-filter: contrast(75%);
  padding: 15px;
}
